<div class="list_content">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<label>历史版本列表：</label>
				</div>
			   	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
			   		<form ng-submit="versioningList.search()" method="POST" role="form">
			   			<div class="row">
			   				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-4">
			   					<input type="text" name="versionname" id="input" class="form-control" ng-model="versioningList.versionname" placeholder="versionName">
			   				</div>

			   				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 btn_seach">
			   					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			   				</div>
			   			</div>
			   		</form>
			   	</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th>versionName</th>
						<th>versionCode</th>
						<th>buildNumber</th>
						<th>上传时间</th>
            <th>发布时间</th>
            <th>停止发布时间</th>
						<th>当前状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in versioningList.versionList.data"  class="active">
						<td>{{item.versionname}}</td>
						<td>{{item.versioncode}}</td>
						<td>{{item.buildnumber}}</td>
						<td>{{item.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item.timerelease | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item.timereleaseend | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{item.status | transitionStatus}}</td>
						<td>
							<a ui-sref="versioning.detail({versionname:item.versionname})" class="btn btn-primary btn-xs" role="button">详情</a>
							<button   type="button" ng-click="versioningList.update(item)" class="btn btn-primary btn-xs " >编辑描述</button>
							<button   type="button" ng-click="versioningList.delete(item)" class="btn btn-primary btn-xs " >删除</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-if="versioningList.totalItems">
				<uib-pagination total-items="versioningList.totalItems" ng-model="versioningList.currentPage" max-size="versioningList.maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="versioningList.pageChanged()"></uib-pagination>
			</div>
		</div>
	</div>
</div>
