<div class="modal-header modal_header_padding">
    <div class="checkbox ">
        <label>
            <input type="checkbox" value="" ng-click="isCollapsed = !isCollapsed" > 已完成自测（勾选按钮填写自测报告）
        </label>
    </div>
</div>
<form ng-submit="ok()" method="POST" accept-charset="utf-8">
    <div class="modal-body">
        <div uib-collapse="isCollapsed">
            <textarea  placeholder="请填写自测报告..."  name="testText" id="inputTestText" class="form-control textarea_style" rows="3" ng-model="reportText" required="required"></textarea>
        </div>
        
    </div>
    <div class="modal-footer">
        <button ng-if="isCollapsed" ng-class="isDisabled='disabled'" class="btn btn-primary" type="button" >提交</button>
        <button ng-if="!isCollapsed"  class="btn btn-primary" type="submit">提交QA测试</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</form>